/* .canvas{
    position:absolute; 
    top: 150px; 
    left: 100px; 
}

.bottom-left{
    position: absolute; 
    top:900px; 
}
.bottom-right{
    position: absolute; 
    top:900px; 
    left: 200px;
} */