<!DocTYPE html>
<html> 
<head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
    <h2> GRAPH AND CONCLUDE</h2>
    {% if login_status %}
        {{username}}
        <a href="/logout"><button>logout</button></a>
    {%else%}
        <a href="/login"><button>login</button></a>
    {%endif%}
    <a href="/"><button>home</button></a>
    <br> 
    <!-- // canvas rendering  -->
    <div style="width:900px;height:700px">
        <canvas id="myChart"></canvas>
</div>
    <br>
    <div style="width:500px;height:550px">
        <canvas id="myChart2"></canvas>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script>
        var stats = {{stats|tojson}};
    </script>
    <script src="../static/js/graphs.js"> </script>  
   
    
</body>

</html>