<!DocTYPE html>
<html> 
<head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
    <h2> GRAPH AND CONCLUDE</h2>
    {% if login_status %}
        {{username}}
        <a href="/logout"><button>logout</button></a>
    {%else%}
        <a href="/login"><button>login</button></a>
    {%endif%}
    <a href="/"><button>home</button></a>
    <br> 
    <!-- // canvas rendering  -->
    <div style="width:900px;height:700px">
        <canvas id="myChart"></canvas>
</div>
    <br>
    <div style="width:900px;height:700px">
        <canvas id="myChart2"></canvas>
    </div>
    <br>
    <div style="width:900px;height:700px">
        <canvas id="myChart3"></canvas>
    </div>
    <br> 
    <div style="width:900px;height:700px">
        <canvas id="myChart4"></canvas>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script>
        var stats = {{stats|tojson}};
    </script>
    <script src="../static/js/graphs.js"> </script>  
    <h3>What does it mean?</h3>
    <h4>Graph Conclusions</h4>
    <p>There's a negative correlation between machine brokenness and overall state happiness. ie. The more machines are broken, the (seemingly) less happy the state is. We explored some possible causes to rates of broken ice cream machine, focusing on minimum wage. There is a clear positive correlation between the minimum wage of the state and its happiness index - most likely relating to the work environment aspect. So the minimum wage and happiness have a direct relationship and by relation, minimum wage and the rate of broken ice cream machines have an inverse one.</p>
    <br> 
    <h4>Independent Research</h4>
    <p>The most direct culprit of the never-ending broken ice cream machines is the company that McDonald's partners with. Taylor Company supplies a specific machine to McDonald's, the C602 model with a self-cleaning function.</p>
    <br>
    <p>The machine takes four hours to complete the cleaning cycle - during these four hours, it obviously can't make any ice cream. So when an employee tells you that the machine is broken, it's probably just going through the extensive cleaning process.</p>
    <br>
    <p>Best case scenario, the night-shift employee turns on the machine cleaning function during closing hours. But this means that if the machine runs into an error in the night(which it does), there's no one to fix it.</p>
    
</body>

</html>