<!DocTYPE html>

<html>

<head>
    <title>McMapping Disappointment: Error</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="icon" type="image/x-icon"
        href="https://raw.githubusercontent.com/annafang30/Truly_Delectable_Sleeping_Duckies/main/app/static/assets/mcbroken_logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <a href="/" style="text-decoration: none;">
        <h1 style = "margin-top:10px; text-align:center; color: #FFC72C">MCMAPPING <span style = "color:#DA291C">DISAPPOINTMENT</span></h1>
      </a>
      <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="nav navbar-left">
                <a class="active" href="/"><button class="btn navbar-btn">Home</button></a>
                <a href="/forum"><button class="btn navbar-btn">Forums</button></a>
                <a href="/conclusion"><button class="btn navbar-btn">Conclusion</button></a>
                <a href="/interactive"><button class="btn navbar-btn">Interactive</button></a>
              </div>
            </div>
          </nav>
        <br>
    
    <center>
        <h1>
            Oh no! There is a McError!
        </h1>
        <p>
            <i>
                Error: {{e}}
            </i>
        </p>
        <a href="/"><button>Return Home</button></a>
    </center>
</body>

</html>