<!DocTYPE html> 

<html>

<head>
<link rel ="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
	<h2 class = center>FORUM</h2>
    <div class = center>
        {% if login_status %}
        {{username}}
        <a href="/logout"><button>logout</button></a>
        {%else%}
        <a href="/login"><button>login</button></a>
        {%endif%}
        <a href="/"><button>home</button></a>
    </div>
    <br>
    Make new post:
    <form action="/forum" method="POST">
        <input type="hidden" name="postid" style="display: none;" value="-1">
        <input type="text" name="posttext">
        <input type="submit" name="post" value="Post">
    </form>
    <div id="posts"></div>

    <script>
        var posts = {{posts|tojson}};
    </script>
    <script src="../../static/js/forum.js"></script>
</body>

</html>