<!DocTYPE html> 

<html>

<head>
<link rel ="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
	<h2>FORUM</h2>
    {% if login_status %}
        {{username}}
        <a href="/logout"><button>logout</button></a>
    {%else%}
        <a href="/login"><button>login</button></a>
    {%endif%}
    <a href="/"><button>home</button></a>
    <br>
    <div id="posts"></div>

    <script>
        const main = document.getElementById("posts");
        var posts = {{posts|tojson}};
        
        function make_text_element(tag, text){
            const element = document.createElement(tag);
            const userText = document.createTextNode(text);
            element.appendChild(userText);
            return element;
        }

        const comment_blocks = [];

        for(let i = 0; i < posts.length; i++){
            const outerDiv = document.createElement("div");
            const newDiv = document.createElement("div");
            newDiv.style.border = "thin solid black";
            newDiv.style.padding = "15px";
            outerDiv.style.padding = "15px";
            const user = make_text_element("b", posts[i][2]);
            user.style.fontSize = "20px";
            const date = make_text_element("div", posts[i][4]);
            date.style.fontSize = "12px";
            const comment = make_text_element('div', posts[i][3]);
            const textbox = make_text_element("input", "");
            const button = make_text_element("button", "post");

            newDiv.appendChild(user);
            newDiv.appendChild(date);
            newDiv.appendChild(comment);
            outerDiv.appendChild(newDiv);
            newDiv.appendChild(textbox);
            newDiv.appendChild(button);

            comment_blocks[i] = outerDiv;
        }

        main.appendChild(make_text_element("input", ""));
        main.appendChild(make_text_element("button", "post"));

        for(let i = 0; i < posts.length; i++){
                for(let j = 0; j < posts.length; j++){
                    if(posts[i][0] == posts[j][1]){
                        comment_blocks[i].appendChild(comment_blocks[j]);
                    }
                }
        }

        for(let i = 0; i < posts.length; i++){
            if(posts[i][1] == -1){
                main.appendChild(comment_blocks[i]);
            }
        }
    </script>
</body>

</html>