<!DocTYPE html>

<html>

<head>
    <title>Mcmapping Disappointment</title>

    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="icon" type="image/x-icon"
        href="https://raw.githubusercontent.com/annafang30/Truly_Delectable_Sleeping_Duckies/main/app/static/assets/mcbroken_logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <h1 style = "margin-top:10px; text-align:center; color: #FFC72C">M<span style = "color:#DA291C">c</span>M<span style = "color:#DA291C">a</span>p<span style = "color:#DA291C">p</span>i<span style = "color:#DA291C">n</span>g <span style = "color:#DA291C">D</span>i<span style = "color:#DA291C">s</span>a<span style = "color:#DA291C">p</span>p<span style = "color:#DA291C">o</span>i<span style = "color:#DA291C">n</span>t<span style = "color:#DA291C">m</span>e<span style = "color:#DA291C">n</span>t</h1>
    <div class=center>
        {% if login_status %}
        {{username}}
        <a href="/logout"><button>logout</button></a>
        {%else%}
        <a href="/login"><button>login</button></a>
        {%endif%}
        <a href="/forum"><button>forum</button></a>
        <a href="/conclusion"><button>conclusions</button></a>
        <a href="/interactive"><button>interactive</button></a>
    </div>
    <br>

    <div id="hoverbox"
        class="text-center"
        style="padding: 2px; z-index: 100; background-color: white; border-width: 2px; border-style: solid; border-color: black; display: none; pointer-events: none; position: fixed;">
        <h3></h3>
        <h5></h5>
        <h5></h5>
    </div>
    <div class=center>
        <canvas id="main" ></canvas>
    </div>

    <script>
        var stats = {{ stats| tojson}};
    </script>
    <script src="../static/js/home.js"></script>
</body>

</html>