<!DocTYPE html> 

<html>

<head>
<link rel ="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
    <!-- <img src="../static/Happiness.png" alt="oops" width="400" height="400"></img> -->
    <button id="map">
        Click to display map 
    </button>
    <canvas id="can">
    </canvas>
    {% if login_status %}
        {{username}}
        <a href="/logout"><button>logout</button></a>
    {%else%}
        <a href="/login"><button>login</button></a>
    {%endif%}
</body>

</html>