<!DocTYPE html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css" />
</head>

<body>
    <h1>McMapping Disappointment</h1>
    {% if login_status %}
    {{username}}
    <a href="/logout"><button>logout</button></a>
    {%else%}
    <a href="/login"><button>login</button></a>
    {%endif%}
    <a href="/forum"><button>forum</button></a>
    <a href="/conclusion"><button>conclusions</button></a>
    <a href="/"><button>home</button></a>
    <br><br>

    <div class='sidebar'>
        <div class='heading'>
            <h1>Our locations</h1>
        </div>
        <div id='listings' class='listings'></div>
    </div>

    <div id='map' style='width: 800px; height: 600px;'></div>

    <script>
        var stats = {{ stats| tojson}};
    </script>
    <script src="../static/js/interactive.js"></script>
</body>

</html>