<!DocTYPE html>

<html>

<head>
    <title>McMapping Disappointment</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/annafang30/Truly_Delectable_Sleeping_Duckies/main/app/static/assets/mcbroken_logo.png">

</head>

<body>
    <h1>McMapping Disappointment</h1>
    {% if login_status %}
    {{username}}
    <a href="/logout"><button>logout</button></a>
    {%else%}
    <a href="/login"><button>login</button></a>
    {%endif%}
    <a href="/forum"><button>forum</button></a>
    <a href="/conclusion"><button>conclusions</button></a>
    <a href="/"><button>home</button></a>
    <br><br>

    <table>
        <tr>
            <td style="height: 10px; vertical-align: top; ">
                <h1>Locations</h1>
                <div id='listings' class='listings' style="overflow: auto; height: 450px; width: 300px;"></div>
            </td>
        
            <td style="vertical-align: top;">
                <div id='map' style='width: 800px; height: 550px;'></div>
            </td>
        </tr>
    </table>


    <script>
        var stats = {{ stats| tojson}};
    </script>
    <script src="../static/js/interactive.js"></script>
</body>

</html>