<!DocTYPE html>

<html>

<head>
    <title>McMapping Disappointment</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <link rel="icon" type="image/x-icon"
        href="https://raw.githubusercontent.com/annafang30/Truly_Delectable_Sleeping_Duckies/main/app/static/assets/mcbroken_logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="text-center">
        <h1 style = "margin-top:10px; text-align:center; color: #FFC72C">MCMAPPING <span style = "color:#DA291C">DISAPPOINTMENT</span></h1>
        {% if login_status %}
        {{username}}
        <a href="/logout"><button>logout</button></a>
        {%else%}
        <a href="/login"><button>login</button></a>
        {%endif%}
        <a href="/forum"><button>forum</button></a>
        <a href="/conclusion"><button>conclusions</button></a>
        <a href="/"><button>home</button></a>
    </div>

    <br>

    <div class="container-fluid text-center" style="border: solid 1px;">
        <div class="row justify-content-center">
            <div id="left-column" class="d-flex flex-column align-items-center">
                <div id='map'></div>
            </div>
            <div id="right-column" class="d-flex flex-column align-items-center">
                <h2 id="locations">Locations</h2>
                <div id='listings' class='listings' style="overflow: auto;">
                </div>
            </div>
        </div>
    </div>

    <script>
        var stats = {{ stats| tojson}};
    </script>
    <script src="../static/js/interactive.js"></script>
</body>

</html>