<!DocTYPE html>

<html>

<head>
	<title>McMapping Disappointment: Login</title>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<link rel="icon" type="image/x-icon"
		href="https://raw.githubusercontent.com/annafang30/Truly_Delectable_Sleeping_Duckies/main/app/static/assets/mcd_icon.png">

</head>

<body>
	<!-- login -->
	<h2>LOGIN</h2>
	<h3>{{error}}</h3>
	<form action="/login" method="POST">
		username
		<input type="text" name="username">
		<br>
		password
		<input type="password" name="password">
		<br>
		<input type="submit" class="log in" name="login" value="Login">
	</form>
	<a href="/register"><button>register</button></a>
	<a href="/"><button>home</button></a>
</body>

</html>