<!DocTYPE html>

<html>

<head>
	<title>McMapping Disappointment: Register</title>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<link rel="icon" type="image/x-icon"
		href="https://raw.githubusercontent.com/annafang30/Truly_Delectable_Sleeping_Duckies/main/app/static/assets/mcbroken_logo.png">

</head>

<body class = center>
	<h2>REGISTER</h2>

	<form action="/register" method="POST">
		username
		<input type="text" name="new_username" id="username">
		<br>
		password
		<input type="password" name="new_password" id="password">
		<br>
		confirm password
		<input type="password" name="new_password_confirm" id="password_confirm">
		<br>
		<br>
		<input type="submit" class="register" name="register" value="Register">
	</form>
	<br>

	<div>
		<li id="caps" style="display: none;">⚠️Caps are on</li>
		<li id="r_user" style="display: block;">Username has at least 4 characters</li>
		<li id="r_pass" style="display: block;">Password has at least 4 characters</li>
		<li id="pass_check" style="display: block;">Passwords match</li>
	</div>
	<br> 
	<a href="/login"><button>login</button></a>
	<a href="/"><button>home</button></a>

	<script>
		var users = {{ users| tojson}};
	</script>
	<script src="../static/js/register.js"></script>
</body>

</html>