<!DocTYPE html> 

<html>

<head>
<link rel ="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
  <!-- register -->
  <br>
  <h2>SIGN UP</h2>
  <h3>{{ error }}</h3>
	<form action="/register" method="POST">
		username
		<input type="text" name="new_username">
		<br>
		password
		<input type="password" name="new_password">
		<br>
		confirm password
		<input type="password" name="new_password_confirm">
		<br>
		<input type="submit" class="register" name="register">
	</form>
	<a href="/login"><button>login</button></a>
</body>

</html>