<!DocTYPE html>

<html>

<head>
    <title>McMapping Disappointment: {{stats["name"]}}</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="icon" type="image/x-icon"
        href="https://raw.githubusercontent.com/annafang30/Truly_Delectable_Sleeping_Duckies/main/app/static/assets/mcbroken_logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <a href="/" style="text-decoration: none;">
        <h1 style = "margin-top:10px; text-align:center; color: #FFC72C">MCMAPPING <span style = "color:#DA291C">DISAPPOINTMENT</span></h1>
      </a>
      <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="nav navbar-left">
                <a class="active" href="/"><button class="btn navbar-btn">Home</button></a>
                <a href="/forum"><button class="btn navbar-btn">Forums</button></a>
                <a href="/conclusion"><button class="btn navbar-btn">Conclusion</button></a>
                <a href="/interactive"><button class="btn navbar-btn">Interactive</button></a>
              </div>
              <div class="nav navbar-right">
                {% if login_status %}
                <p class="btn navbar-btn">{{username}}</p>
                <a href="/logout"><button class="btn navbar-btn"><span class="glyphicon glyphicon-log-out"></span>Logout</button></a>
                {%else%}
                <a href="/login"><button class="btn navbar-btn"><span class="glyphicon glyphicon-log-in"></span>Login</button></a>
                {%endif%}
              </div>
            </div>
          </nav>
    
    <div style = "text-align:center;"> 
        <h2>{{stats["name"]}}</h2>
    </div>
    <br>
    <div style = "text-align:center;">
        <p>Happiness: {{stats["happiness"]}}</p>
        <p>Minimum Wage: {{stats["min_wage"]}}</p>
        <p>Broken Icecream Machines: {{stats["broken"]}}</p>
        <p>Tracked McDonald's Locations: {{stats["locations"]}}</p>
        <p>Broken Ratio: {{stats["broken_ratio"]}}</p>
        <h3>Locations</h3>
        <div id='listings' style="overflow: auto; height: 350px;">
            {% for location in locations %}
                <div>
                    {% if location["properties"]["dot"] == "working" %}
                        <a href="{{"https://www.google.com/search?q="+ location["properties"]["street"] + ", " + location["properties"]["city"] + " McDonald's"}}" target="_blank" style="text-decoration: none; font-weight: bold; color: green;">{{ location["properties"]["street"] }}, {{ location["properties"]["city"] }}, {{ location["properties"]["state"] }}</a>
                    {%else%}
                        <a href="{{"https://www.google.com/search?q="+ location["properties"]["street"] + ", " + location["properties"]["city"] + " McDonald's"}}" target="_blank" style="text-decoration: none; font-weight: bold; color: red;">{{ location["properties"]["street"] }}, {{ location["properties"]["city"] }}, {{ location["properties"]["state"] }}</a>
                    {%endif%}
                </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>