<!DocTYPE html>

<html>

<head>
    <title>McMapping Disappointment: {{stats["name"]}}</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="icon" type="image/x-icon"
        href="https://raw.githubusercontent.com/annafang30/Truly_Delectable_Sleeping_Duckies/main/app/static/assets/mcbroken_logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="text-center">
        <h2>{{stats["name"]}}</h2>
        {% if login_status %}
        {{username}}
        <a href="/logout"><button>logout</button></a>
        {%else%}
        <a href="/login"><button>login</button></a>
        {%endif%}
        <a href="/"><button>home</button></a>
        <a href="/forum"><button>forum</button></a>
    </div>
    <br>
    <div class="text-center">
        <p>Happiness: {{stats["happiness"]}}</p>
        <p>Minimum Wage: {{stats["min_wage"]}}</p>
        <p>Broken Icecream Machines: {{stats["broken"]}}</p>
        <p>Tracked McDonald's Locations: {{stats["locations"]}}</p>
        <p>Broken Ratio: {{stats["broken_ratio"]}}</p>
    </div>
</body>

</html>